# Copy this file to .env and fill in the values for your deployment.
#   cp .env.example .env

# Project
PROJECT_NAME=maestro
DOCKER_REPO=<your-registry>/maestro
SUFFIXES=<your-domain>
SERVER_IP=<server-ipv4>
SERVER_IPv6=<server-ipv6>
SERVER_BASE_PATH=/home/ubuntu/data

# UI
UI_IP=${SERVER_IP}
UI_PORT=8080

# Backend
BACKEND_IP=${SERVER_IP}
BACKEND_PORT=8080
BACKEND_PPDR_ENABLE="false"
BACKEND_OLISTIC_ENABLE="false"
BACKEND_TELCO_PROVIDER_ENABLE="true"
BACKEND_IOTGATEWAY_PROVIDER_ENABLE="true"
BACKEND_AWS_PROVIDER_ENABLE="false"
BACKEND_DELL_PROVIDER_ENABLE="true"
BACKEND_DELL_UNICORN_PROVIDER_ENABLE="false"
BACKEND_DELL_ASTRID_PROVIDER_ENABLE="false"
BACKEND_DELL_MATILDA_PROVIDER_ENABLE="false"
BACKEND_DELL_SPIDER_PROVIDER_ENABLE="false"
BACKEND_TEST_PROVIDER_ENABLE="false"
BACKEND_CONTAINER_NFS_PATH="/mnt/nfs/data"
BACKEND_MOUNTPOINT_ON_NFS_SERVER="/mnt/data"
BACKEND_RAINBOW_KUBERNETES_PROVIDER_ENABLE="false"
BACKEND_KUBERNETES_PROVIDER_ENABLE="true"

# Orchestrator
ORCHESTRATOR_IP=${SERVER_IP}
ORCHESTRATOR_PORT=8090
ORCHESTRATOR_CONSUL_IPV6_ENABLED="true"
ORCHESTRATOR_AGENT_URL="<url-of-the-agent-jar>"
ORCHESTRATOR_AGENT_TOKEN="<token-for-the-agent-jar-host>"
ORCHESTRATOR_NFS_SERVER_IP=<nfs-server-ip>
ORCHESTRATOR_MONITORING_DELAY_ENABLED='true'

# PolicyEngine
POLICY_ENGINE_PORT=8040
POLICY_ENGINE_IP=${SERVER_IP}
POLICY_ENGINE_HOST_RULES=${SERVER_BASE_PATH}/policy-engine/rules

# Virtualization Manager
VIM_IP=${SERVER_IP}
VIM_PORT=8070
VIM_IMAGE_ID=<openstack-image-uuid>

# Metric Exporter:
METRIC_EXPORTER_PORT=9080
METRIC_EXPORTER_IP=${SERVER_IP}
METRIC_EXPORTER_ENABLED_MONITORING='false'

# Prometheus
PROMETHEUS_IP=${SERVER_IP}
PROMETHEUS_PORT=9090
PROMETHEUS_VOLUME_PATH=${SERVER_BASE_PATH}/prometheus

# Consul
CONSUL_IP=${SERVER_IP}
CONSUL_HTTP_PORT=8500
CONSUL_IPV6=${SERVER_IPv6}
CONSUL_IPV6_BRACKETS="[${SERVER_IPv6}]"
CONSUL_DATA_VOLUME_PATH=${SERVER_BASE_PATH}/consul/data
CONSUL_CONFIG_VOLUME_PATH=${SERVER_BASE_PATH}/consul/config
CONSUL_DATACENTER=${PROJECT_NAME}
CONSUL_ADVERTISE=${SERVER_IPv6}
CONSUL_DNS_PORT=8600
CONSUL_SERVER_PORT=8300
CONSUL_LAN_SERF_PORT=8301
CONSUL_WAN_SERF_PORT=8302

# Alert Manager
ALERT_MANAGER_PORT=9093
ALERT_MANAGER_VOLUME_PATH=${SERVER_BASE_PATH}/alertManager

# Database
DATABASE_IP=${SERVER_IP}
DATABASE_PORT=3306
DATABASE_NAME=orchestrator
DATABASE_ROOT_PASSWORD=<mysql-root-password>
DATABASE_VOLUME_PATH=${SERVER_BASE_PATH}/database/data

# Phpmyadmin
PHPMYADMIN_PORT=8010

# Kafka
KAFKA_IP=${SERVER_IP}
KAFKA_ADV_HOST=${SERVER_IP}
KAFKA_UI_USER=${PROJECT_NAME}
KAFKA_UI_PASSWORD=<kafka-ui-password>
KAFKA_PORT=9092
KAFKA_ZOOKEPER_PORT=2181
KAFKA_UI_PORT=3030
KAFKA_SCHEMA_REGISTRY_PORT=8081
KAFKA_REST_PROXY_PORT=8082
KAFKA_CONNECT_DISTRIBUTED_PORT=8083
KAFKA_VOLUME_PATH=${SERVER_BASE_PATH}/landoop/data

# Grafana:
GRAFANA_PORT=3000
GRAFANA_IP=${SERVER_IP}
GRAFANA_LOG_VOLUME_PATH=${SERVER_BASE_PATH}/grafana/log
GRAFANA_DATA_VOLUME_PATH=${SERVER_BASE_PATH}/grafana/data
GRAFANA_CONFIG_VOLUME_PATH=${SERVER_BASE_PATH}/grafana/config


# EXTERNAL DEPENDENCIES


# OSS
OSS_PORT=8200
OSS_IP=<oss-ip>
OSS_TAC_ENDPOINT=""

# Relay
RELAY_IPV4=${SERVER_IP}
RELAY_PORT=9201
RELAY_PASSWORD=<cjdns-relay-password>
RELAY_PUBLIC_KEY=<cjdns-relay-public-key>
RELAY_IPV6=${SERVER_IPv6}
RELAY_CLUSTER=${PROJECT_NAME}

# Intrusion Detection System
IDS_REGISTRY=<registry-hosting-the-snort-image>
IDS_IMAGE=snort:1.0.0
IDS_USERNAME=<registry-username>
IDS_PASSWORD="<registry-password-encrypted-with-key.token>"
IDS_CONFIG_URL="<url-of-snort-config.tar.gz>"
IDS_CONFIG_USERNAME="<config-host-username>"

# Security Operation Center
SOC_MANAGER_IP=<wazuh-manager-host>
SOC_MANAGER_PORT=55000
SOC_MANAGER_USERNAME=<wazuh-api-username>
SOC_MANAGER_PASSWORD=<wazuh-api-password>
SOC_MANAGER_PRIVATE_IP=<wazuh-manager-private-ip>
SOC_AGENT_URL="https://packages.wazuh.com/3.x/apt/pool/main/w/wazuh-agent/wazuh-agent_3.12.3-1_amd64.deb"
SOC_KAFKA_URL=<soc-kafka-host>:9092
SOC_IP=<soc-host>
SOC_KSQL_PORT=8088
SOC_BROKER_PORT=9092
SOC_AUDITD_ENABLED='true'

# RabbitMQ
RABBITMQ_IP=${SERVER_IP}
RABBITMQ_PORT=5673

# Analytic Engine
ANALYTIC_ENGINE_IP=${SERVER_IP}
ANALYTIC_ENGINE_PORT=8085
ANALYTIC_SERVER_IP=${SERVER_IP}
ANALYTIC_SERVER_PORT=8086
ANALYTIC_SERVER_DOMAIN=""

# Links
LINKS_SHOW_GRAFANA='true'
LINKS_SHOW_PROMETHEUS='true'
LINKS_SHOW_VULNERABILITIES='true'
LINKS_SHOW_KIBANA='true'