PROJECT_NAME=
DOCKER_REPO=
SUFFIXES=
SERVER_IP=
SERVER_BASE_PATH=

# UI
UI_IP=${SERVER_IP}
UI_PORT=8080

# Backend
BACKEND_IP=${SERVER_IP}
BACKEND_PORT=8080
BACKEND_KUBERNETES_PROVIDER_ENABLE="true"
SPRINGDOC_API_DOCS_ENABLED="true"
SPRINGDOC_API_SWAGGER_UI_ENABLED="true"
SPRINGDOC_API_DOCS_PATH="/api/openapi"
SPRINGDOC_API_SWAGGER_UI_PATH="/api/swagger"

# Database
DATABASE_IP=${SERVER_IP}
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_ROOT_PASSWORD=
DATABASE_VOLUME_PATH=${SERVER_BASE_PATH}/database/data

# Phpmyadmin
PHPMYADMIN_PORT=8010

# knative serverless controller microservice
QUARKUS_HTTP_PORT=9500
MAESTRO_REST_API_URL=http://localhost:8080/

# KUBERNETES
KUBERNETES_RESOURCES_ENABLE=false


### These variables do not need to be set at the moment ###

# Policy Engine
POLICY_ENGINE_PROMETHEUS_IP=
POLICY_ENGINE_PROMETHEUS_PORT=30000


# Kafka
BACKEND_ENABLE_KAFKA="off"

# Metric Exporter 
METRIC_EXPORTER_PORT=9080
METRIC_EXPORTER_IP=${SERVER_IP}
METRIC_EXPORTER_ENABLED_MONITORING='false'
KAFKA_IP=${SERVER_IP}
KAFKA_PORT=9092
CONSUL_IP=${SERVER_IP}
CONSUL_HTTP_PORT=8500

# K8s Prometheus  
K8S_PROMETHEUS_IP=
K8S_PROMETHEUS_PORT=30000

# Prometheus                                                                                           
PROMETHEUS_IP=
PROMETHEUS_PORT=9090
PROMETHEUS_VOLUME_PATH=${SERVER_BASE_PATH}/prometheus